*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    line-height: 1.2;
}

:root {
    --card-width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f2e9e4;
    flex-direction: column;
    height: 100vh;
}

/* Styles pour la barre de navigation */
.header {
    position: fixed;
    top: 0;
    background-color: #f2e9e4;
    width: 100%;
    height: 100px;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.add-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.navbar {
    padding-right: 65px;
}

.navbar a {
    padding-left: 15px;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.bottom-navigation {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 250px;
}

.navigation{
    position: fixed;
    right: -500px;
    top: 0;
    width: 350px;
    height: 100%;
    background-color: #dad2cd;
    transition: .5s;
}

.navigation ul li{
    color: #000;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
}

.bottom-navigation ul li {
    color: #000;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 5px 30px;
}

.hamburger, .bar{
    position: fixed;
}

.hamburger{
    display: block;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    right: 0;
    top: 0;
}

.hamburger.open #bar1{
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    transform: rotate(-45deg) translate(6px, -5px);
}

body img {
    width: 189px;
    height: 134px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styles wrapper */
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(225, 225, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Styles des boites input */
.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: black;
}

/* Styles remember-forgot */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot label {
    color: black;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

/* Styles du bouton */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Styles du register-link */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    color: black;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #dad2cd;
    padding: 60px 10%;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: black;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col img {
    position: relative;
    bottom: 30px;
    height: 86px;
    width: 121px;
}

.footer-col h4{
    position: relative;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: #000000;
    padding-left: 2px;
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}